


:root{
    --theme-color: #3BE41F;
    --base-color: #35C31E;
    --header-color: #000616;
    --banner-color: #35082B;
    --banner-box: #18233F;
    --amaount-color: #05FF00;
    --box-bg: #7652E1;
    --box-two: #25355C;
    --hover1: #1A2030;
    --jack-bg: #251145;
    --modal-bg: #242D04;
    --body-color: #000616;
    --custom-base: #0593F0;
    --section-bg: #231d70;
    --white-color: #fff;
    --black-theme: #151515;
    --black-color: #000000;
    --calender: #191D23;
    --ratting-color: #E4A853;
    --pragraph-color: #666666;
    --border: #35C31E;
    --border-two: #A09FC8;;
    --cate-border: #E1CFB7;
    --placehol: #b0bcde;
}